<footer id="page-footer">
  <p>
    Copyright &copy; 2014
    <%= link_to 'Agsiegert','http://github.com/agsiegert' %>
  </p>
  <p style="font-size:10px;">This system uses iTriages API to look up Urgent Care Facilities near your input location and provides a those reviews in an API in JSON format.</p>
</footer>
